{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}  
    {{- $dateFormat := site.Params.DateFormat -}}  
    {{- $formattedDate := .Date | time.Format $dateFormat -}}  
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) $formattedDate)) }}  
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
